# Titanic Dataset

## Library Imports

In [2]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning and Feature Engineering

In [3]:
titanic= pd.read_csv('titanic.csv')

In [4]:
titanic = titanic[(titanic['Age'].notna())  & (titanic['Fare'].notna()) & (titanic['Embarked'].notna())]
titanic = titanic.drop('Cabin', axis=1)

In [5]:
titanic_new2 = titanic.drop(['PassengerId','Name','Ticket'],axis=1)

In [6]:
titanic_new2['Sex'].replace('male','1',inplace=True)
titanic_new2['Sex'].replace('female','0',inplace=True)
titanic_new2['Embarked'].replace('C','1',inplace=True)
titanic_new2['Embarked'].replace('Q','2',inplace=True)
titanic_new2['Embarked'].replace('S','3',inplace=True)
titanic_new2 = titanic_new2.reset_index(drop=True)
titanic_new2

## Feature Significance and Selection

## Logistic Regression

In [8]:
X_train,X_test,y_train,y_test = train_test_split(titanic_new2.drop('Survived',axis=1), titanic_new2.Survived)

In [9]:
model = LogisticRegression()
model.fit(X_train,y_train)
predict = model.predict(X_test)

In [10]:
pd.DataFrame(confusion_matrix(y_test,predict),columns=['predicted no','Predicted yes'], index=['Actual no', 'Actual yes'])

            predicted no  Predicted yes
Actual no             84             18
Actual yes            22             54

In [11]:
model.score(X_test, y_test)

0.7752808988764045

In [ ]:
prediction = model.predict(X_test)
np.sum(prediction == y_test )/ len(y_test)